body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:darkgray;
}
header {
    background-color:black;
    padding: 20px;
    color: grey;
    text-align: center;
    }
img{
    width: 300x;
    height: 200px;
    ;
}

h1 {
    margin: 0;
    }
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
div{
    font-size: 18px;
    color: white;
}
.section {
    width: 80%;
    margin-bottom: 40px;
  }
  
.section h2 {
    margin: 0 0 10px;
}
.section p {
    margin: 0;
}
.contact-info {
    font-size: 18px;
    color: grey;
    text-decoration:wavy;
}
.contact-info:hover {
    color: black;
}
